# ignore dataset files but keep folder
data/*.csv
!data/.gitkeep

# ignore generated outputs but keep folder
output/*
!output/.gitkeep

# models
*.joblib
*.pkl
*.model
*.json

# python junk
__pycache__/
.ipynb_checkpoints/# datasets
*.csv
data_raw/
data/
output/
*.parquet

